header {
  height: max-content;
  padding-top: 1rem;
  overflow: hidden;
  text-align: center;
  /* padding-bottom: 5rem; */
  height: 100vh;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ================= CALL TO ACTION =================== */
.callToAction{
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ===================*/
@media screen and (max-width: 1024px) {
  header {
height: 68vh;  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ===================*/
@media screen and (max-width: 600px) {
  header {
height: 50vh;  }

  .callToAction {
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}